/* 					ORDRE :
///					RESET
///					DIVS
///					TITLES
///					FONTS
///					PHOTOS
///					INPUTS
///					BUTTONS
///					LINKS
///					RESPONSIVE (ipad pro, ipad, large smartphone, small smartphone)
*/

/*///////////////////////// FONTS
font-family: 'Anaheim', sans-serif;
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Baloo Thambi 2', cursive;
font-family: 'Concert One', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pridi', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Saira', sans-serif;
font-family: 'VT323', monospace; */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ///////////////// FIN RESET /////////////////*/

/* ////////////Pour les pages connection, inscription, faq, contact////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* DIVISIONS */

/* header */

header {
  width: 100%;
  background-image: url("../photos/marble.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  width: 80%;
  display: flex;flex-direction: column;
  margin: auto;
  height: 9rem;
}

.main-header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
	margin-top: 1rem;
}

.main-title {
  /* margin-top: 1em; */
}

.header-button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  margin: 0rem 0rem 0rem 1rem;
  padding: 0rem;
}

.small-device-menu {
	display: none;
	margin: 1rem 0rem 1.2rem 0rem;
}

.smartphone-menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

/*////////////////////////// MAIN /////////////////////////*/

main {
  width: 100%;
	color: rgba(46, 54, 71, 1);
  background-color: rgba(253, 246, 226, 1);
}

.sub-main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}

.main-top-part {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.main-top-part-devpage, .main-top-part-actu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-title-and-intro {
	width: 77%;
	margin-top: 1.5rem;
	margin-left: 0rem;
	margin-bottom: 3rem;
}

/* Contact - inscription - connection */
.main-title-and-intro-contactpage {
	width: 77%;
	margin-top: 1.5rem;
	margin-left: 0rem;
	/* margin-bottom: 3rem; */
}

/* faq */
.main-title-and-intro-faqpage {
  width: 77%;
  margin-bottom: 0rem;
}

.intro {
	text-align: justify;
	font-size: 1.1rem;
	line-height: 1.25rem;
	height: auto;
}

.menu {
	position: relative;
}

.buttons-and-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: -2.29rem;
	width: 15rem;
}

.visible {

}

.peek {
	display: flex;
	justify-content: flex-end;
	width: 15rem;
}

.main-bottom-part {
	display: flex;
	flex-direction: row;
	justify-content:center;
	width: 63%;
	margin: auto;
}

/*////// contact - inscription - connection /////*/
.main-bottom-part-contact {
	display: flex;
	flex-direction: row;
	text-align: left;
	width: 63%;
}

.connect, .signup, .contactus {
	width: 100%;
	background-color: rgba(250,250, 250, 1);
	border-radius: 0.5rem;
	padding: 0.5rem 1.3rem 1.2rem 1.3rem;
 }

.form-item {
	margin: 0.4rem 0rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* faq */
.main-bottom-part-faq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.faq-chapter {
  background-color: rgba(253,252, 255, 1);
  border-radius: 0.5rem;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  margin-bottom: 1rem;
}

/* geekzone */
.main-bottom-part-geekzone {
	background-color: rgba(250,250, 250, 1);
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem 1.2rem 1rem;
  margin-bottom: 1rem;
}

/* FOOTER */

footer {
  background-image: url("../photos/marbleenversvague.png");
  background-color: rgba(253, 246, 226, 1);
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-footer {
  width: 80%;
  margin: auto;
}

.sub-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 11rem;
}

.tenez, .connectez {
  width: 46%;
  background-color: rgba(193, 209, 225, 0.6);
  border-radius: 0.25rem;
}

.mailing-list-ensemble {
  margin: 0rem 1rem 1rem 1rem;
}

.mailing-list-group {
  margin-top: 4.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-networks {
  margin: 1rem;
}

.social-networks-text {

}

.social-networks-icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(233, 226, 206, 1);
  text-shadow: 0px 0px 4px rgba(46, 54, 71, 0.95);
  padding: 1.5rem 0rem 0.5rem 0rem;
}

/* ................. SEPARATIONS ..................... */

.outline {
  border: 1px solid rgba(153, 255, 153, 0.2);
}

.outline-bold {
  border: 1px solid rgba(255, 102, 255, 0.2);
}

.outline-sub {
	border: 0.2px solid blue;
}

hr {
  background-color: rgb(255, 248, 140);
  height: 0.5rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  border-width: 0px;
}

hr.main-hr {
  background-color: rgb(96, 29, 70);
  height: 0.5rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  border-width: 0px;
  border-radius: 2rem;
  margin: 1rem 0rem 1rem 0rem;
  width: 100%;
}

/* TITRES */

h1 {
  font-family: 'Concert One', cursive;
  font-size: 4rem;
  color: rgba(253, 246, 226, 1);
  text-shadow: 0px 0px 4px rgba(46, 54, 71, 0.5);
}

h2 {
  font-family: 'Concert One', cursive;
  font-size: 1.35rem;
  background-color: rgba(253, 246, 226, 0.7);
  border-radius: 0.25rem;
  padding: 0.15rem 0.2rem 0.3rem 0.2rem;
}

h3 {
  font-family: 'Saira', sans-serif;
  font-size: 4rem;
  font-weight: 900;
	color: rgb(253, 246, 226);
	border: 0.5rem solid rgb(255, 248, 140);
	background-color: rgba(102, 111, 130, 1);
  border-radius: 1rem;
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

h4 {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 600;
  color: rgba(96, 29, 70, 1);
  font-size: 1.34rem;
  background-color: rgba(253, 246, 226, 1);
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  padding: 0.5rem 0rem 0.48rem 0.6rem;
  margin-bottom: 1.5rem;
}

h4.faq-title {
  margin-bottom: 0rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
}

h5 {
  font-family: 'Fredoka One', cursive;
  font-size: 2.9rem;
  color: rgba(193, 209, 225, 1);
	text-align: left;
  letter-spacing: .2rem;
  margin: 0rem 0rem 0rem 0rem;
}


h6 {
	font-family: 'Baloo Chettan 2', cursive;
	font-weight: 600;
	color: rgb(96, 29, 70);
	text-align: right;
	font-size: 1.6rem;
	background-color: rgb(255, 250, 178);
	padding: 0.1rem 4.35rem;
	border: none;
	border-radius: 0rem 1.2rem 0rem 0rem;
}

h7 {
	font-family: 'Baloo Chettan 2', cursive;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 0.8rem;
	background-color: rgba(96, 29, 70, 1);
	border-radius: 0rem 0rem 0.5rem 0.5rem;
	padding: 0.5rem 0.2rem;
}

.no-background {
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 1rem;
	margin-top: 0.7rem;
	text-align: left;
}

/* p et span */

p {
  font-family: 'Baloo Chettan 2', cursive;
  line-height: 1.25rem;
  text-align: justify;
}

p.intro {

}

span {
  font-size: 1.5rem;
}

span.smaller {
  font-size: 2.1rem;
}

legend {
	font-family: 'Baloo Chettan 2', cursive;
  line-height: 1.25rem;
  text-align: justify;
}

/* ALIGNEMENTS & COLORS */

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.dark-blue {
  color: #2e3647;
}
/* dark-blue rgba(46, 54, 71, 1) */

.light-blue {
  color: #C1D1E1;
  /* rgb(193, 209, 225) */
}

.light-yellow {
  color: rgb(255, 248, 140);
}
/* gold rgb(231, 159, 57) */

.wine {
  color: #601D46;
  /* rgb(96, 29, 70) */
}

.beige {
  color: rgb(253, 246, 226);
  /* rgb(233, 226, 206) */
}

/* icônes fa */
.fas.fa-moon.fa-lg {

}

.far.fa-sun.fa-lg {

}

.fas.fa-plug {
  transform: rotate(90deg);
}

.fas.fa-hand-point-left {

}

.fab.fa-twitter-square, .fab.fa-facebook-square, .fab.fa-instagram-square, .fab.fa-linkedin {
  color: rgb(255, 248, 140);
	text-shadow: 0px 0px 4px rgba(46, 54, 71, 0.5);
}

/* fa espace pro */
.far.fa-smile {

}

/*///////////////////// PHOTOS */

.tiger {
  margin-left: 54rem;
  margin-top: -11.5rem;
	margin-bottom: -11.5rem;
  float: right;
}

/*///////////////////// INPUTS */

.mailing-list {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  border: 0.09rem solid rgb(255, 248, 140);
  border-style: solid;
  border-radius: 0.25rem;
  box-shadow: none;
  background-color: rgba(193, 209, 225, 0.4);
  padding: 0.1rem 0.7rem 0.25rem 0.7rem;
  width: 43%;
}

.contact-input {
  font-family: 'Roboto Mono', monospace;
}

select {
	font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  border: 0rem;
  border-style: solid;
  border-radius: 0.25rem;
  box-shadow: none;
	color: rgba(140, 140, 140, 1);
  background-color: rgb(255, 255, 255);
  padding: 0.1rem 0.7rem 0.25rem 0.7rem;
	margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

abbr[title] {
    text-decoration: none;
    color: rgb(96, 29, 70);
}

#mail, #pwd, #pwd, #name, #msg, textarea {
	font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  border: 0rem;
  border-style: solid;
  border-radius: 0.25rem;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  padding: 0.1rem 0.7rem 0.25rem 0.7rem;
	margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

#file {
	font-family: 'Baloo Chettan 2', cursive;
  line-height: 1.25rem;
	font-size: 1rem;
}

#mail, #pwd, #pwd, #name {
	width: 20rem;
}

textarea {
	width: 30rem;
	height: 8rem;
}

/* labels */
.form-label{
	display: flex;
	flex-direction: row;
}

/*///////////////////// BUTTONS */

.light-button {
  border: none;
  box-shadow: none;
  border-radius: 0.4rem;
  font-family: 'Concert One', cursive;
  color: rgb(253, 246, 226);
  font-size: 1rem;
  background-color: rgba(253, 246, 226, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.7rem;
  margin-top: 1rem;
}

.light-button:hover {
  border: none;
  box-shadow: none;
  border-radius: 0.4rem;
  font-family: 'Concert One', cursive;
  color: rgba(46, 54, 71, 1);
  font-size: 1rem;
  background-color: rgba(253, 246, 226, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.7rem;
  margin-top: 1rem;
}

.dark-button {
  border: none;
  box-shadow: none;
  border-radius: 0.6rem;
  font-family: 'Concert One', cursive;
  color: rgb(253, 246, 226);
  font-size: 1rem;
  background-color: rgba(34, 43, 64, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.7rem;
  margin: 0rem;
}

.dark-button:hover {
  border: none;
  box-shadow: none;
  border-radius: 0.6rem;
  font-family: 'Concert One', cursive;
  color: #E9E2CE;
  font-size: 1rem;
  background-color: rgba(34, 43, 64, 0.95);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.7rem;
  margin: 0rem;
}

.close-button {
	background-color: rgb(255, 204, 204);
	padding: 0.5rem 0.8rem;
	border: none;
	border-radius: 1.2rem 0rem 0rem 0rem;
	color: white;
}

.open-button {
	background-color: rgb(204, 255, 204);
	padding: 0.5rem 0.7rem;
	border: none;
	border-radius: 1.2rem 0rem 0rem 0rem;
	color: white;
}

.mailing-list-button {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(46, 54, 71, 1);
  border-radius: 0.25rem;
  background-color: rgb(255, 248, 140);
  border: 0rem;
  box-shadow: none;
  width: 49%;
}

.envoi {
	font-family: 'Concert One', cursive;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgba(46, 54, 71, 1);
  border-radius: 0.25rem;
  background-color: rgb(255, 248, 140);
  border: 0rem;
  box-shadow: none;
	margin-top: 1rem;
	padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

/* forms */
fieldset {
	margin-top: 1rem;
}

/*////////////////////////// LINKS ////////////////////////*/

a.menu-item {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(46, 53, 70, 1);
  text-decoration: none;
}

a.menu-item:hover {
  text-decoration: none;
  color: rgb(193, 209, 225);
}

a.menu-item-current {
	color: rgba(46, 53, 70, 0.6);
	font-family: 'Baloo Thambi 2', cursive;
  font-weight: 600;
  font-size: 1rem;
	text-decoration: none;
}

a.faq-link {
	background-color: rgba(255, 255, 255, 0);
	margin: 0rem;
	padding: 0rem;
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 100%;
  font-weight: 600;
	text-decoration: none;
}

a.faq-link:hover {
	color: rgb(96, 29, 70);
}

a.portrait-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a.cgu {
	font-family: 'Baloo Chettan 2', cursive;
	color: rgb(253, 246, 226);
	background-color: rgba(1, 1, 1, 0);
	text-decoration: none;
}

/* ........PAGE FAQ ......./*/
a.faq {
  color: rgba(46, 54, 71, 1);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.95rem;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 0.5rem;
  padding: 0.1rem 1rem;
}

/* ...... PAGE connection */
.inscrivez-vous {
	font-family: 'Baloo Chettan 2', cursive;
  line-height: 1.25rem;
	color: rgba(10, 10, 10, 1);
	font-weight: 500;
	font-size: 1rem;
	background-color: rgba(255, 255, 255, 0);
	padding: 0rem;
	margin: 0rem;
}

.inscrivez-vous:hover {
	color: rgb(173, 189, 205);
}

/* ..........PAGE ACTUS......... */

#listeActualites {
	font-family: 'Roboto Mono', monospace;
	color: rgba(50, 73, 122, 1);
	text-decoration: none;
	font-size: 0.8rem;
}

/*///////////////////////// LISTS */

li.dropdown-li {
  list-style-type: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  font-weight: 400;
	padding: 0.1rem;
}

ul.dropdown {
	position: absolute;
	display: flex;
	flex-direction: row;
	text-align: right;
	margin-top: 0rem;
	background-color: white;
	border-radius: 0rem 0rem 1.2rem 1.2rem;
	padding: 1rem 1rem 1rem 1rem;
	width: 13rem;
}

/* ........PAGE ACTUS ......./*/
li {
	margin: 0.3rem 0rem;
}

/* ..........PAGE FAQ......... */
ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.6rem;
}

li.faq-item {

}

/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////// media queries ///////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/

/*Ipad pro*/
/* tablettes de largeur maximum 1030px */
@media screen and (max-width: 1030px) {

	body {
		background-color: pink;
	}

	.main-header, .sub-main, .sub-footer {
		width: 95%;
	}

	.main-header {
		justify-content: center;
		height: auto;
	}

	.main-header-top {
		justify-content: space-between;
		margin-top: 0rem;
		margin-bottom: 0.5rem;
	}
	/* .main-title {
		width: 69%;
	} */

	.header-button-group {
		margin: 0rem 0.1rem 1rem 1rem;
	}

	.menu {
		display: none;
	}

	.small-device-menu {
		display: none;
	}

	.smartphone-menu {
		display: block;
	}

	.small-device-ol {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		/* margin-bottom: 1rem; */
	}

	.small-device-li {
		background-color: rgba(250, 250, 250, 0.63);
		padding: 0.5rem 0.5rem 0.4rem 0.5rem;
		border-radius: 0.5rem;
		width: 13rem;
		text-align: center;
	}

	.main-title-and-intro-contactpage {
		width: 100%;
	}

	.main-top-part-index {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	/* .portrait-ensemble-large-screen {
		display: none;
	}

	.portrait-ensemble-small-device {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2rem 0rem;
	}

	.portrait-group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	} */

	.main-top-sub-part {
		width: 100%;
	}

	.main-bottom-part-contact {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		/* margin: 0rem 1rem 0rem 1rem; */
	}

	h1 {
		font-size: 9rem;
		max-width: 40%;
	}

	h2 {
		font-size: 3rem;
		text-align: center;
		padding-bottom: 0.7rem;
	}

	h5 {
		text-align: center;
	}

	h7.dev-name {
		font-size: 1rem;
	}

	p
	{
		font-size: 1.6rem;
	}

	legend {
		font-size: 1.6rem;
		margin-bottom: 0.3rem;
	}

	a.menu-item, a.menu-item-current {
		font-size: 1.3rem;
	}

	.light-button, .dark-button {
		font-size: 3.5rem;
	}

	img.tiger {
		display: none;
	}
}

@media screen and (min-width: 770px) and (max-width: 1030px) {

	.main-title {
		width: 69%;
	}

}
/* fin ipad pro */
/*///////////////////////////////////////////////////////////////////////////////////*/

/* tablettes de largeur maximum 770px */
/*Ipad*/
@media screen and (max-width: 770px) {

	body {
		background-color: orange;
	}

	.main-title {
		width: 72%;
	}

	p
	{

	}
}
/* fin tablettes */
/*///////////////////////////////////////////////////////////////////////////////////*/

/* smartphones de largeur maximum 415px */
/*Iphone 6/7/8+*/

@media screen and (max-width: 415px) {

	body {
		background-color: olive;
	}

	.header-button-group {
		margin: 1rem 0.1rem 0.1rem 1rem;
	}

	.small-device-menu {
		display: none;
	}

	.smartphone-menu {
		display: block;
		flex-direction: column;
		justify-content: space-between;
	}

	.intro {
		/* font-size: 1rem; */
	}

	.sub-footer-top {
		flex-direction: column;
	}

	h1 {
		font-size: 11.5rem;
	}

	h2 {
		font-size: 3.9rem;
		text-align: center;
		padding-bottom: 0.7rem;
	}

	p {
		font-size: 0.8rem;
	}

	hr.main-hr {
		height: 0.8rem
	}
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/* smartphones de largeur maximum 385px */
/*Iphone X & 6/7/8*/

@media screen and (max-width: 385px) {

	body {
		background-color: pink;
	}

	h5.espace-pro {
		font-size: 2.5rem;
	}
}
/*///////////////////////////////////////////////////////////////////////////////////*//*Galaxy S5*/

@media screen and (max-width: 370px) {

	body {
		background-color: pink;
	}
}
/*///////////////////////////////////////////////////////////////////////////////////*/

/* smartphones de largeur maximum 330px */
/*Iphone 5S*/

@media screen and (max-width: 330px) {

	body {
		background-color: pink;
	}
}
